//Contains look!
.WebRICE_manage{
    background-color: black;
    padding:0.5em;
    display: inline-block;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    button {
        background-color: black;
        border: 0em;
     }
}

.settingsMenu {
   margin: 0.3rem 0 0 0;
   background-color:gray;
   color: white;
   padding: 0.2rem 0.2rem 0.2rem 0.2rem;
   position: absolute;
   border-color: black;
   //border-style: inset;
   max-height: 30%;
   overflow-y: scroll;

   > h2 {
      margin: 0;
   }

   > section{
      padding: 0.2rem;
   }
}