#WebRICE_manage {
  background-color: #242121;
  padding: 0.3rem;
  display: inline-flex;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; }
  #WebRICE_manage > button {
    background-color: #242121;
    border: 0em;
    padding: 0 0.4em 0 0.4em; }
  #WebRICE_manage > div > button {
    background-color: #242121;
    border: 0em;
    padding: 0 0.4em 0 0.4em; }

#PauseButton {
  display: none; }

.hide {
  display: none; }

#settingsCont {
  margin: 0.3rem 0 0 0;
  position: absolute;
  border-color: black;
  border-style: inset;
  background-color: black; }
  #settingsCont > #settingsHeader {
    background-color: #3E3E3E;
    display: flex;
    justify-content: end;
    margin-bottom: 0.1rem; }
    #settingsCont > #settingsHeader > button {
      background-color: #3E3E3E;
      padding: 0;
      border-width: 0; }
      #settingsCont > #settingsHeader > button > img {
        max-width: 100%; }
  #settingsCont > .settingsMenu {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    background-color: black;
    color: white;
    max-height: 30%;
    overflow-y: scroll; }
    #settingsCont > .settingsMenu > h2 {
      margin: 0; }
    #settingsCont > .settingsMenu > section {
      padding: 0.2rem; }
      #settingsCont > .settingsMenu > section > h3 {
        margin: 0; }
    #settingsCont > .settingsMenu > #submitSettings {
      border: 0;
      background-color: #3E3E3E;
      border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
      color: white; }
